html, body {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 275px;
    font-size: 24px;
}

.menu {
    margin-right: 275px;
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    padding: 0px 10px;
}

.menu a {
    color: white;
}

@media only screen and (max-width: 796px) {
    .navbar {
        display: block;
        justify-content: center;
        width: 100%;

    }
    .logo {
        padding-top: 20px;
        justify-content: center;
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
    }
    .menu {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .menu li {
        display: block;
        padding: 5px 0px;
    }

}

/* -----------------------------------------------*/

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 75%;
    margin-left: 200px;
    margin-right: 100px;
    gap: 0px 50px;
}

#hero h1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

#hero p {
    color: white;
    font-size: 18px;
    margin-top: -25px;
}

.hero-button-styling {
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    padding: 7px 28px;
    border-radius: 8px;
    margin-top: -5px;
}

.hero-section-1 {

}

.hero-section-2 {

}

.scribble-hero-picture {
    width: 550px;
    height: 285px;
}

@media only screen and (max-width: 796px) {
    #hero {
        display: block;
        margin: 0 auto;
        justify-content: center;
        margin-top: -90px;
        text-align: center;
    }
    #hero img {
        margin-top: 15px;
    }
}

/* -----------------------------------------------*/

#body-1 {
    background-color: white;
    color: #1F2937;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding: 20px 0px 100px;
}

#body-1 h1 {
    text-align: center;
    padding-bottom: 20px;
}

.random-information-subimages {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.random-information-subimages img {
    width: 15vw;
    margin-left: -10px;
    margin-right: -10px;
}

.random-information-subimages figcaption {
    color: #2f2f2f;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 796px) {
    .random-information-subimages {
        display: block;
        margin-top: -45px;
    }
    .random-information-subimages img {
        width: 100%;
    }
    .random-information-subimages figcaption {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}

/* -----------------------------------------------*/

#body-2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
}

.quote-1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.quote-1 h1 {
    font-style: italic;
    font-weight: 300;
    width: 40%;
    font-size: 36px;
}

.quote-2 {
    margin-top: -20px;
    margin-left: 450px;
    display: flex;
}

.quote-2 h3 {
    font-weight: 800;
    font-size: 24px;
}

@media only screen and (max-width: 796px) {
    .quote-2 {
        margin-left: 0px;
    }
}

/* -----------------------------------------------*/

#body-3 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.CTA-section-container {
    background-color:#3882F6;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.CTA-section {
    background-color:#3882F6;
    color: white;
}

.CTA-section h4 {
    font-size: 24px;
}

.CTA-section h5 {
    font-size: 18px;
    margin-top: -25px;
    font-weight: 200;
}

.CTA-section-button {

}

.CTA-button-styling {
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    padding: 7px 28px;
    border-radius: 8px;
    margin-top: -5px;
}

/* -----------------------------------------------*/

footer p {
    color: white;
    display: flex;
    justify-content: center;
    margin: 38px 0px;
    font-size: 20px;
}