html {
    background-color: #1F2937;
}

.navbar{
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 275px;
    font-size: 24px;
}

.menu {
    margin-right: 275px;
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    padding: 0px 10px;
}

.menu a {
    color: white;
}

@media only screen and (max-width: 796px) {
    .navbar {
        display: block;
        justify-content: center;
        width: 100%;

    }
    .logo {
        padding-top: 20px;
        justify-content: center;
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
    }
    .menu {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .menu li {
        display: block;
        padding: 5px 0px;
    }

}

/* -----------------------------------------------*/

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 75%;
    margin-left: 200px;
    margin-right: 100px;
    gap: 0px 50px;
}

#hero h1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

#hero p {
    color: white;
    font-size: 18px;
    margin-top: -25px;
}

.hero-button-styling {
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    padding: 7px 28px;
    border-radius: 8px;
    margin-top: -5px;
}

.hero-section-1 {
    
}

.hero-section-2 {

}

.scribble-hero-picture {
    width: 550px;
    height: 285px;
}